# What is this file?
# This file is meant to be used as a template reference of a .env file in `docker-compose.yml` for the purpose of local development
# Ref: https://docs.docker.com/compose/environment-variables/#the-env-file
# Please do not commit the changes in this file unless it's a change which is meant to affect all the local environments

# How to use this file?
# Copy this file to a new file called `.env`. It'll be automatically picked by the related services in `docker-compose.yml` file.

# IMPORTANT NOTE:
# When you set the same environment variable in multiple files, here’s the priority used by Docker Compose to choose which value to use:
#
# Compose file
# Shell environment variables
# Environment file (.env)
# Environment file (with a custom name and introduced explicitly for the desired service. e.g. our local.env file)
# Dockerfile
# Variable is not defined
#
# So, please note that, for example, values in the shell take precedence over those specified in the local.env file

# Development mode will help with auth and fixtures
NODE_ENV=development
NODE_PORT=8000

# Database stuff
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_DATABASE=ppeedikayil_core
